.content {
    display: grid;
    text-align: center;
    grid-template-areas: "slide text";
    grid-template-columns: 800px auto;
}

#slideshow {
    text-align: left;
    background-position: center;
    background-repeat : no-repeat;
    grid-area: slide;
}

#text {
    grid-area: text;
    margin: 20px;
}