#specs tr:hover {
    background: #6480C5;
}

#content {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 80px 20px;
}

#disclaimer {
    font-size: 8px;
    grid-area: dis;
}

#specs {
    grid-area: specs;
    margin: 10px;

    border: 1px solid #FFF;
    border-spacing: 0px;
}

#specs td{
    padding: 2px;
    border: 1px solid #FFF;
}

#text1{
    grid-area: t1;
}

#text2{
    grid-area: t2;
}

#text3{
    grid-area: t3;
}

p{
    margin: 10px;
}
